*{
    /* background-color: red; */
    margin-left: 10px;
}
.navbar-brand {
    background-color: white;
    width: 20vw;
    text-align: start;
    font-size: 25px;
    font-weight: 700;
    font-family: var(--primary-font);
    letter-spacing: 2px;

}
.nav-bar {
    margin-top : -10px;
    margin-bottom: 10px;
}
#nav-list {
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65vw;
    margin-left: 10px;
}

#button-action{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 30%;
    margin-right: 0px;
}
#button-action button{
    
    height: 40px;
    width:80px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50px;
    
}

.activeLink{
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    height: 40px;
}
