<!-- <div class="container">
    <div class="image">
    <div class="info">
            <div class="tag">
                COLLECTIONS
            </div>
            <div class="text">
                Explore Our Bicycle <span>Collection</span>
            </div>
            <button type='submit' class="btn">VIEW MORE</button>
    </div>
    
    </div>
    
    <div class="content"></div>
</div> -->

<body>
    <div class="container">
        <h2>ABOUT US</h2>
        <p><span>Million</span> Ideas For Your Single <span>Journey</span></p>
        <div class="info">
            WE ARE HERE<br>
            First time in your city<br>
            Providing you affordable and variety of BICYCLE for your desire Journey.<br>
            Let's Start Your Journey With us Without Any Hesitation.
        </div>
        <button type="submit" class="btn" routerLink="product">EXPLORE MORE</button>
    </div>
   
        <div class="images">
            <img src= '/assets/images/image3.jpg' class="img" alt="image1">
            <img src="/assets/images/bicycle2.jpg" class="img"  alt="image3">
            <img src="/assets/images/images4.jpg" class="img"  alt="image2">
            
    </div>
</body>