<body> 
  <h3>BICYCLE RENTAL</h3>
  <div class="container" > 
    <mat-card>
      <div class="head">
          <h4>LOG IN</h4>
      </div>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput name="username" [(ngModel)] = "username" placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" name="pass" [(ngModel)] = "password" matInput placeholder="Passsword" >
        </mat-form-field>
        <button type="submit" mat-raised-button style="background-color: var(--primary-color); color: white;">LOGIN</button>
      </form>
      
    </mat-card>
  </div>
</body>

