<body>
    <div class="head">
        <h3>Our Service</h3>
    
    </div>
    <div class="feature">
        <div class="card">
            <img src='../assets/images/feature1.png' >
            <h5>Ride Anywhere</h5>
            <p>Until You Tired</p>
        </div>
        <div class="card">
            <img src='/assets/images/feature2..png' >
            <h5>Park Stations</h5>
            <p>Across The Cities</p>
        </div>
        <div class="card">
            <img src='../assets/images/feature3.png' >
            <h5>Easy Process</h5>
            <p>Using Our Website</p>
        </div>
        <div class="card">
            <img src='../assets/images/feature4.png' >
            <h5>Safe Riding</h5>
            <p>Gears Available</p>
        </div>
    </div>
    <div class="bike">
        <div class="box">
            <img src='/assets/Bicycles/1.jpg'>
            <h2>Bicycle 1</h2>
            <div class="icon">
                <!-- <CurrencyRupeeIcon/> -->
                <p> 10 PER HOUR</p>
            </div>
            <button class="btn"><a href=''>RENT BICYCLE</a></button>   
        </div>
        <div class="box">
            <img src='../assets/Bicycles/2.jpg'>
            <h2>Bicycle 2</h2>
            <div class="icon">
                <!-- <CurrencyRupeeIcon/> -->
                <p> 10 PER HOUR</p>
            </div>
            <button class="btn"><a href=''>RENT BICYCLE</a></button>
        </div>
        <div class="box">
            <img src='../assets/Bicycles/3.jpg'>
            <h2>Bicycle 3</h2>
            <div class="icon">
                <!-- <CurrencyRupeeIcon/> -->
                <p> 10 PER HOUR</p>
            </div>
            <button class="btn"><a href=''>RENT BICYCLE</a></button>
        </div>
    </div>
</body>