<body>
    <div class="text">
        FEATURES 
    </div>
    <div class="tag">
        We Are There, Where You Start <span>Journey</span>
    </div>
    <div class="info">
        <div class="card">
            <div class="description">
                <h4>01.</h4> 
                <h4>Intractive & User Friendly Interface.</h4>
                <p>Our product have user friendly interface so that everyone can use 
                    our product without any difficulty, Also having intractive interface 
                    attracts students and adults.
                </p>
                <a href=''>READ MORE </a>
            </div> 
        </div>
        <div class="card">
        <div class="description">
                
                <h4>02.</h4> 
                <h4>Affordable Charges</h4>
                <p> We are renting bicycles in minimum charges so that everyone can afford it
                    without any hesitation.
               </p>
               <a href=''>READ MORE </a>
            </div>
        </div>
        <div class="card">
            <div class="description">
                <h4>03.</h4> 
                <h4>Inbuilt Path Navigation</h4>
                <p>We are providing user Inbuilt route Navigation during their Journey,
                    So that user will not face any difficulty for reaching the destination.
                </p>
                <a href=''>READ MORE </a>
            </div> 
        </div>
    </div>
    <!-- {/* <div class="image"> */" -->
    </body>